build/

downloads/



__pycache__
*.egg-info
# *.pth
# *.pt
# tests
# checkpoints
# runs
# cache
# *.out
# *.o
*.zip
# data
# figures/*.pdf

# rsync*
# models/*
# datasets/TartanAir.pickle
# datasets/TartanAir
# TartanAirResults
# thirdparty/*
# movies/
# results/*
# TartanAirEVS.pickle
